---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";

import heroImage from "../../assets/gallery.jpg";
import SectionInner from "../../components/SectionInner.astro";
import Member from "../../components/Member.astro";
import Sheet from "../../components/Sheet.astro";
---

<Layout title="Gallery - ネイルサロン">
  <Hero src={heroImage} jpText="ギャラリー">Gallery</Hero>

  <section class="js-fadeUp">
    <Sheet>
      <SectionInner>
        <p class="head-text">
          デザインはスタッフのインスタグラムからご覧ください！
        </p>
        <Member />
      </SectionInner>
    </Sheet>
  </section>
</Layout>

<style lang="scss">
  .head-text {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
  }
</style>

<script>
  import "../../../public/js/fadeUp";
</script>
