---
import Layout from "../../../layouts/Layout.astro";
import Sheet from "../../../components/Sheet.astro";
import { getNews, getNewsDetail } from "../../../libs/microcms";
import type { News } from "../../../libs/microcms";

export async function getStaticPaths() {
  const response = await getNews({ fields: ["id"] });

  return response.contents.map((content: News) => {
    return {
      params: {
        newsId: content.id,
      },
    };
  });
}

const { newsId } = Astro.params;
const news = await getNewsDetail(newsId as string);
---

<Layout title={`News - ${news.title}`}>
  <Sheet>
    <h1 class="title">{news.title}</h1>
    <div class="content" set:html={news.content} />
  </Sheet>
</Layout>

<style lang="scss" is:global>
  .title {
    padding: 32px 0;
    font-size: 24px;
    font-weight: 500;

    @include mq(md) {
      font-size: 36px;
    }
  }

  .content {
    line-height: 1.7;
  }

  .text {
    display: block;
    padding: 16px 0;
  }
</style>
