---
import Sheet from "../components/Sheet.astro";
import SectionInner from "../components/SectionInner.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import NewsList from "../components/NewsList.astro";
import { Image } from "astro:assets";

import handnailImage from "../assets/handnail.webp";
import footnailImage from "../assets/footnail.webp";
import nailDesignImage from "../assets//naildesign.webp";
---

<Layout title="ネイルサロン">
  <div class="hero-container">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="/hero.webp"
        width="1600"
        height="1400"
        class="hero-img"
      />
      <img
        src="/hero_sp.webp"
        alt=""
        width="765"
        height="950"
        decoding="async"
        class="hero-img"
      />
    </picture>

    <p class="hero-text js-hero-text" data-anime="fadeIn">
      Special Nail Designs
    </p>
  </div>

  <div class="hero-scroll">
    <span class="hero-scroll__text">scroll</span>
  </div>

  <div class="message">
    <SectionInner>
      <Sheet>
        <div class="message-container js-fadeUp">
          <p class="message-text">
            最新のトレンドから定番のデザインまで幅広いニーズにお応えし、<br
              class="message-text--break"
            />お客様の美しさを引き立てるネイルデザインを提供いたします。
          </p>
          <p class="message-text">
            私たちが目指すのは、ただ単に美しいネイルを提供するだけではありません。<br
              class="message-text--break"
            />お客様が当サロンを訪れたときに、リラックスして心地よい時間を過ごしていただくこと。<br
              class="message-text--break"
            />そして、施術後には自分自身がさらに輝くことができるような、そんな空間作りを心掛けています。
          </p>
          <p class="message-text">
            どんな小さなご質問でもお気軽にお問い合わせください。皆様のご来店を心よりお待ちしております。
          </p>
        </div>
      </Sheet>
    </SectionInner>
    <div class="js-circle circle message-circle"></div>
  </div>

  <section class="menu js-fadeUp">
    <div class="js-circle circle menu-circle"></div>

    <SectionInner>
      <Sheet>
        <SectionTitle>Menu</SectionTitle>
        <div class="menu-list">
          <a href="menu" class="menu-list__item">
            <Image src={handnailImage} alt="" class="menu-list__image" />
            <p class="menu-list__text">
              Hand nail<span class="menu-list__text--jp">ハンドネイル</span>
            </p>
          </a>
          <a href="menu" class="menu-list__item">
            <Image src={footnailImage} alt="" class="menu-list__image" />
            <p class="menu-list__text">
              Foot nail<span class="menu-list__text--jp">フットネイル</span>
            </p>
          </a>
        </div>
      </Sheet>
    </SectionInner>
  </section>

  <section class="news js-fadeUp">
    <SectionInner>
      <Sheet>
        <SectionTitle>News</SectionTitle>
        <NewsList />
      </Sheet>
    </SectionInner>
    <div class="js-circle circle news-circle"></div>
  </section>

  <section class="design js-fadeUp">
    <SectionInner>
      <Sheet>
        <SectionTitle>NAIL DESIGN</SectionTitle>
        <div class="design-content">
          <Image src={nailDesignImage} alt="" class="design-image" />

          <div class="design-text">
            <p>
              NA検定保持者であるネイリストたちによるネイルデザインをご紹介します。<br
              />
               今までのネイルの状態をしっかりとヒアリングして、お客様に合わせたご提案をさせて頂きます。<br
              />
            </p>
            <a class="btn design-button" href="/gallery">デザインをもっと見る</a
            >
          </div>
        </div>
      </Sheet>
    </SectionInner>
  </section>
</Layout>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&display=swap");

  .hero-container {
    position: relative;
  }

  .hero-img {
    height: calc(100vh - 72px);
    object-fit: cover;
    object-position: top;
  }

  .hero-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    padding-left: 12px;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    font-family: "Inclusive Sans", sans-serif;
    color: white;

    @include mq(sm) {
      max-width: 1000px;
      padding-left: 32px;
      font-size: 56px;
    }
  }

  .hero-scroll__text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    line-height: 2;
    writing-mode: vertical-rl;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.06em;
    transform: scale(-1, -1), translateX(-50%);
  }

  .hero-scroll__text:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;
    width: 0.5px;
    height: 24px;
    background: var(--color-text-primary);
    animation: scroll 1.4s ease-in-out infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translate(0, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

  .circle {
    position: absolute;
    z-index: -1;
    right: 10%;
    bottom: 0px;
    width: 0px;
    max-width: 260px;
    height: 0px;
    max-height: 260px;
    background-color: var(--blue-50);
    border-radius: 50%;

    @include mq(md) {
      max-width: unset;
      max-height: unset;
    }
  }

  .menu-circle {
    top: 40%;
    left: 5%;
    max-width: 200px;
    max-height: 200px;
  }

  .news-circle {
    top: 10%;
    right: 5%;

    @include mq(md) {
      right: 20%;
    }
  }

  .message {
    position: relative;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .message-text {
    text-align: justify;

    @include mq(lg) {
      font-size: 18px;
      text-align: center;
    }
  }

  .message-text--break {
    display: none;

    @include mq(lg) {
      display: inline-block;
    }
  }

  .menu {
    position: relative;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    @include mq(sm) {
      flex-direction: row;
    }
  }

  .menu-list__item {
    display: grid;
    position: relative;
    padding: 24px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    overflow: hidden;
  }

  .menu-list__item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #ffffff;
  }

  .menu-list__item::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--blue-50);
    transform: scale(0);
    opacity: 0;
    transition:
      transform 1.2s ease-out,
      opacity 0.75s linear;
    border-radius: 50%;
  }

  @media (hover: hover) {
    .menu-list__item:hover::after {
      opacity: 1;
      transform: scale(1.5);
      transition:
        transform 0.4s ease-out,
        opacity 0.45s linear;
    }
  }

  .menu-list__text {
    position: relative;
    grid-area: 2/1;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;

    @include mq(lg) {
      font-size: 28px;
    }
  }

  .menu-list__text::after {
    position: absolute;
    content: url("/chevron-right-circle.svg");
    top: 50%;
    right: 3%;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
    transition: 0.3s ease;
  }

  @media (hover: hover) {
    .menu-list__item:hover .menu-list__text::after {
      right: 2%;
      transition: 0.3s ease;
    }
  }

  .menu-list__text--jp {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;

    @include mq(lg) {
      font-size: 14px;
    }
  }

  .menu-list__image {
    border-radius: 12px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
  }

  .news {
    position: relative;
  }

  .design-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include mq(sm) {
      flex-direction: row;
    }
  }

  .design-image {
    width: 300px;
    height: 300px;
    aspect-ratio: 1.2 / 1;
    border-radius: 50%;
  }

  .design-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 32px;
    margin-inline: auto;
    font-weight: 400;
    background: var(--blue-200);
    transition: background var(--transition-normal);

    @include mq(sm) {
      margin-inline: unset;
      margin-left: auto;
      text-align: right;
    }
  }

  @media (hover: hover) {
    .design-button:hover {
      background: var(--blue-400);
      transition: background var(--transition-normal);
    }
  }
</style>

<script>
  import "../../public/js/fadeUp";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // スクロール量に応じて大きくなる円
  Array.from(document.querySelectorAll(".js-circle")).map((circle) => {
    gsap.to(circle, {
      scrollTrigger: {
        trigger: circle,
        start: "top bottom",
        end: "+=420",
        scrub: true,
        onUpdate: (self) => {
          let progress = self.progress;
          let newSize = progress * 300;
          gsap.to(circle, {
            width: newSize,
            height: newSize,
          });
        },
      },
    });
  });
</script>
