---
import Sheet from "../components/Sheet.astro";
import SectionInner from "../components/SectionInner.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import NewsList from "../components/NewsList.astro";
---

<Layout title="ネイルサロン">
  <div class="hero">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="/hero.webp"
        width="1600"
        height="1400"
      />
      <img src="/hero_sp.webp" alt="" width="765" height="950" />
    </picture>

    <p class="hero-text js-hero-text" data-anime="fadeIn">
      Special Nail Designs
    </p>
  </div>

  <div class="hero-scroll">
    <span class="hero-scroll__text">scroll</span>
  </div>

  <div class="message">
    <SectionInner>
      <Sheet>
        <div class="message-container js-fadeUp">
          <p class="message-text">
            最新のトレンドから定番のデザインまで幅広いニーズにお応えし、<br
              class="message-text--break"
            />お客様の美しさを引き立てるネイルデザインを提供いたします。
          </p>
          <p class="message-text">
            私たちが目指すのは、ただ単に美しいネイルを提供するだけではありません。<br
              class="message-text--break"
            />お客様が当サロンを訪れたときに、リラックスして心地よい時間を過ごしていただくこと。<br
              class="message-text--break"
            />そして、施術後には自分自身がさらに輝くことができるような、そんな空間作りを心掛けています。
          </p>
          <p class="message-text">
            どんな小さなご質問でもお気軽にお問い合わせください。皆様のご来店を心よりお待ちしております。
          </p>
        </div>
      </Sheet>
    </SectionInner>
    <div class="js-circle circle message-circle"></div>
  </div>

  <section class="menu js-fadeUp">
    <div class="js-circle circle menu-circle"></div>

    <SectionInner>
      <Sheet>
        <SectionTitle>Menu</SectionTitle>
        <div class="menu-list">
          <a class="menu-list__item">
            <img
              src="/handnail.webp"
              alt=""
              width="640"
              height="959"
              class="menu-list__image"
            />
            <p class="menu-list__text">
              Hand nail<span class="menu-list__text--jp">ハンドネイル</span>
            </p>
          </a>
          <a class="menu-list__item">
            <img
              src="/footnail.webp"
              alt=""
              width="640"
              height="960"
              class="menu-list__image"
            />
            <p class="menu-list__text">
              Foot nail<span class="menu-list__text--jp">フットネイル</span>
            </p>
          </a>
        </div>
      </Sheet>
    </SectionInner>
  </section>

  <section class="news js-fadeUp">
    <SectionInner>
      <Sheet>
        <SectionTitle>News</SectionTitle>
        <NewsList />
      </Sheet>
    </SectionInner>
    <div class="js-circle circle news-circle"></div>
  </section>
</Layout>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&display=swap");

  .hero {
    position: relative;
  }

  .hero img {
    height: calc(100vh - 72px);
    object-fit: cover;
    object-position: top;
  }

  .hero-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    padding-left: 12px;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    font-family: "Inclusive Sans", sans-serif;
    color: white;

    @include mq(sm) {
      max-width: 1000px;
      padding-left: 32px;
      font-size: 56px;
    }
  }

  .hero-scroll__text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    line-height: 2;
    writing-mode: vertical-rl;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.06em;
    transform: scale(-1, -1), translateX(-50%);
  }

  .hero-scroll__text:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;
    width: 0.5px;
    height: 24px;
    background: var(--color-text-primary);
    animation: scroll 1.4s ease-in-out infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translate(0, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

  .circle {
    position: absolute;
    z-index: -1;
    right: 10%;
    bottom: 0px;
    width: 0px;
    max-width: 260px;
    height: 0px;
    max-height: 260px;
    background-color: var(--blue-50);
    border-radius: 50%;

    @include mq(md) {
      max-width: unset;
      max-height: unset;
    }
  }

  .menu-circle {
    top: 50%;
    left: 5%;
  }

  .news-circle {
    right: 20%;
  }

  .message {
    position: relative;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .message-text {
    text-align: justify;

    @include mq(lg) {
      font-size: 18px;
      text-align: center;
    }
  }

  .message-text--break {
    display: none;

    @include mq(lg) {
      display: inline-block;
    }
  }

  .menu {
    position: relative;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;

    @include mq(sm) {
      flex-direction: row;
    }
  }

  .menu-list__item {
    display: grid;
    position: relative;
    padding: 24px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    overflow: hidden;
  }

  .menu-list__item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #ffffff;
  }

  .menu-list__item::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--blue-50);
    transform: scale(0);
    opacity: 0;
    transition:
      transform 1.2s ease-out,
      opacity 0.75s linear;
    border-radius: 50%;
  }

  @media (hover: hover) {
    .menu-list__item:hover::after {
      opacity: 1;
      transform: scale(1.5);
      transition:
        transform 0.4s ease-out,
        opacity 0.45s linear;
    }
  }

  .menu-list__text {
    position: relative;
    grid-area: 2/1;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;

    @include mq(lg) {
      font-size: 28px;
    }
  }

  .menu-list__text::after {
    position: absolute;
    content: url("/chevron-right-circle.svg");
    top: 50%;
    right: 3%;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
  }

  .menu-list__text--jp {
    display: block;
    font-weight: 500;
    font-size: 12px;

    @include mq(lg) {
      font-size: 14px;
    }
  }

  .menu-list__image {
    border-radius: 12px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // テキストが1文字ずつ表示されるアニメーション
  window.addEventListener("DOMContentLoaded", () => {
    const text = document.querySelector(".js-hero-text");
    if (text && text.textContent) {
      text.innerHTML = text.textContent.replace(
        /\S/g,
        "<span class='letter'>$&</span>",
      );

      gsap.from(".letter", {
        duration: 1, // アニメーションの時間を1秒に設定
        opacity: 0, // 初期状態の透明度を0（完全に透明）に設定
        ease: "power1.out", // イージング効果を設定
        stagger: 0.05, // 各文字のアニメーション開始時間を0.05秒ずつ遅らせる
      });
    }
  });

  // フェードアップ
  gsap.fromTo(
    ".js-fadeUp",
    {
      autoAlpha: 0, // 最初は透明
      y: 20, // 縦方向に20pxずらす
    },
    {
      autoAlpha: 1, // 要素を表示
      duration: 1.5, // 1秒かけてアニメーション
      y: 0, // 元の位置に戻す
      scrollTrigger: {
        trigger: ".js-fadeUp", // 要素を指定
        start: "top bottom", // アニメーションの開始位置を指定, 最初のトップが要素の位置、2番目のbottomがウィンドウの位置
      },
    },
  );

  // スクロール量に応じて大きくなる円
  document.querySelectorAll(".js-circle").forEach((circle) => {
    gsap.to(circle, {
      scrollTrigger: {
        trigger: circle,
        start: "top bottom",
        end: "+=420",
        scrub: true,
        onUpdate: (self) => {
          let progress = self.progress;
          let newSize = progress * 300;
          gsap.to(circle, {
            width: newSize,
            height: newSize,
          });
        },
      },
    });
  });
</script>
