---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ネイルサロン">
  <main>
    <div class="hero">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="/hero.webp"
          width="1600"
          height="1400"
        />
        <img src="/hero_sp.webp" alt="" width="765" height="950" />
      </picture>

      <p class="hero-text">
        Unique Nail Designs <span class="hero-text--br">Just for You</span>
      </p>

      <div class="hero-scroll">
        <span class="hero-scroll__text">scroll</span>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&display=swap");

  .hero {
    position: relative;
  }

  .hero img {
    height: calc(100vh - 72px);
    height: calc(100dvh - 72px);
    object-fit: cover;
    object-position: top;
  }

  .hero-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    padding-left: 8px;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    font-family: "Inclusive Sans", sans-serif;
    color: white;

    @include mq(sm) {
      max-width: 1000px;
      padding-left: 32px;
      font-size: 48px;
    }
  }

  .hero-text--br {
    display: inline-block;
  }

  .hero-scroll__text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    line-height: 2;
    writing-mode: vertical-rl;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.06em;
    transform: scale(-1, -1), translateX(-50%);
  }

  .hero-scroll__text:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;
    width: 0.5px;
    height: 24px;
    background: var(--color-text-primary);
    animation: scroll 1.4s ease-in-out infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translate(0, -20px);
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }
</style>
