---
import HamburgerMenu from "./HamburgerMenu.astro";
import Menu from "./Menu.astro";
---

<header class="header">
  <div class="header-inner">
    <a href="/" class="logo" aria-labe="トップへ戻る">
      <img src="/favicon.svg" alt="トップへ戻る" width="40" height="40" />
    </a>
    <Menu />
    <HamburgerMenu />
  </div>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    z-index: var(--header-z-index);
    padding-inline: 16px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.08);
    background: linear-gradient(#fff, #fff 90%, hsla(0, 0%, 100%, 0));
  }

  .header-inner {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin-inline: auto;
  }

  .logo {
    z-index: var(--logo-z-index);
    width: 40px;
    cursor: pointer;
  }
</style>
