<h2 class="title">
  <slot />
</h2>

<style lang="scss">
  .title {
    display: block;
    padding-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;

    @include mq(lg) {
      padding-bottom: 40px;
      font-size: 42px;
    }
  }
</style>
