---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Header />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import "ress";

  :root {
    --blue-50: #f3f7fb;
    --blue-100: #e4ecf5;
    --blue-200: #c2d7ea;
    --blue-300: #adcae3;
    --blue-400: #86afd4;
    --blue-500: #6995c8;
    --blue-600: #567dba;
    --blue-700: #4b6caa;
    --blue-800: #42598b;
    --blue-900: #394b6f;
    --blue-950: #262f45;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  a:visited {
    color: inherit;
  }
</style>
