---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com" defer></script>
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @import "ress";
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");

  :root {
    --color-text-primary: #333;
    --color-text-muted: #666565;
    --color-text-white: #f6f6f6;

    --blue-50: #f3f7fb;
    --blue-100: #e4ecf5;
    --blue-200: #c2d7ea;
    --blue-300: #adcae3;
    --blue-400: #86afd4;
    --blue-500: #6995c8;
    --blue-600: #567dba;
    --blue-700: #4b6caa;
    --blue-800: #42598b;
    --blue-900: #394b6f;
    --blue-950: #262f45;

    --logo-z-index: 100;
    --header-z-index: 99;

    --transition-normal: 0.3s ease;
  }

  html {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }

  body {
    color: var(--color-text-primary);
    font-size: 16px;
    font-weight: 300;
    background: #fcfcfc;
  }

  .main {
    padding-bottom: 72px;

    @include mq(md) {
      padding-bottom: 96px;
    }
  }

  a {
    cursor: pointer;
  }

  a:visited {
    color: inherit;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
</style>
