---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import HeadingTitle from "../../components/HeadingTitle.astro";

import heroImage from "../../assets/menu-head.jpg";
import Sheet from "../../components/Sheet.astro";
import SectionInner from "../../components/SectionInner.astro";
---

<Layout title="MENU - ネイルサロン">
  <div class="hero-container">
    <Image src={heroImage} alt="" class="hero-image" />
    <div class="title">
      <HeadingTitle jpText="メニュー">Menu</HeadingTitle>
    </div>
  </div>

  <Sheet>
    <section>
      <SectionInner>
        <!-- ハンドネイル -->
        <div class="menu-container">
          <h2 class="menu-heading">Hand Nail</h2>
          <div class="menu-accordion">
            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="ベーシック" />
              <div class="collapse-title">ベーシック</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>クリア</span><span class="collapse-text__bar"
                  ></span><span>5,600円</span>
                </p>
                <p class="collapse-text">
                  <span>ワンカラー</span><span class="collapse-text__bar"
                  ></span><span>7,800円</span>
                </p>
                <p class="collapse-text">
                  <span>グラデーション</span><span class="collapse-text__bar"
                  ></span><span>8,000円</span>
                </p>
              </div>
            </div>

            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="アート" />
              <div class="collapse-title">アート</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>シンプル</span><span class="collapse-text__bar"
                  ></span><span>9,600円</span>
                </p>
                <p class="collapse-text">
                  <span>クリエイティブ</span><span class="collapse-text__bar"
                  ></span><span>10,000円</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- フットネイル -->
        <div class="menu-container">
          <h2 class="menu-heading">Foot Nail</h2>
          <div class="menu-accordion">
            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="ベーシック" />
              <div class="collapse-title">ベーシック</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>クリア</span><span class="collapse-text__bar"
                  ></span><span>6,000円</span>
                </p>
                <p class="collapse-text">
                  <span>ワンカラー</span><span class="collapse-text__bar"
                  ></span><span>8,200円</span>
                </p>
                <p class="collapse-text">
                  <span>グラデーション</span><span class="collapse-text__bar"
                  ></span><span>8,400円</span>
                </p>
              </div>
            </div>

            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="アート" />
              <div class="collapse-title">アート</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>シンプル</span><span class="collapse-text__bar"
                  ></span><span>10,000円</span>
                </p>
                <p class="collapse-text">
                  <span>クリエイティブ</span><span class="collapse-text__bar"
                  ></span><span>10,400円</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- ネイルケア -->
        <div class="menu-container">
          <h2 class="menu-heading">Nail Care</h2>
          <div class="menu-accordion">
            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="ネイルケア" />
              <div class="collapse-title">ネイルケア</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>ウォーターケア・保湿</span><span
                    class="collapse-text__bar"></span><span>3,000円</span>
                </p>
                <p class="collapse-text">
                  <span>ネイルケア&ensp;+&ensp;ジェルオフ</span><span
                    class="collapse-text__bar"></span><span>5,800円</span>
                </p>
              </div>
            </div>

            <div class="collapse collapse-arrow">
              <input type="checkbox" name="accordion" aria-label="アート" />
              <div class="collapse-title">フットネイルケア</div>
              <div class="collapse-content">
                <p class="collapse-text">
                  <span>ウォーターケア・保湿</span><span
                    class="collapse-text__bar"></span><span>4,000円</span>
                </p>
                <p class="collapse-text">
                  <span>フットネイルケア&ensp;+&ensp;ジェルオフ</span><span
                    class="collapse-text__bar"></span><span>6,800円</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </SectionInner>
    </section>
  </Sheet>
</Layout>

<style lang="scss">
  .hero-container {
    position: relative;
    width: 100%;
  }

  .hero-image {
    height: 35vh;
    object-fit: cover;
    object-position: 100% 70%;

    @include mq(md) {
      height: 500px;
      object-position: 100% 100%;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include mq(md) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      flex-direction: row;
      gap: 48px;
    }
  }

  .menu-container + .menu-container {
    margin-top: 48px;

    @include mq(md) {
      margin-top: 80px;
    }
  }

  .menu-heading {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    padding-left: 8px;
    font-size: 34px;
    font-style: italic;

    @include mq(md) {
      padding: 0px;
      font-size: 42px;
      grid-area: 1/1 / span 2 / span 5;
    }
  }

  .menu-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mq(md) {
      grid-area: 1/6 / span 2 / span 12;
    }
  }

  .collapse {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
  }

  .collapse-title {
    font-weight: 600;
  }

  .collapse-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collapse-text span {
    width: fit-content;
  }

  .collapse-text__bar {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--color-text-primary);
  }
</style>
